streamlit
langchain
langchain-community
pandas
numpy
langchain-huggingface
dotenv
langchain-core
streamlit
langchain-chroma
langchain-groq
PyPDF
langchain-ollama
ollama
chromadb==0.5.15
SQLAlchemy==2.0.36
